.rect {
    border: 2px solid white;
    left: -1000px;
    position: absolute;
    top: -1000px;
  }

#imageToFindFaces {
 position:relative;
    height: 100%;
    width:100%;
}
video, canvas {
  margin-left: 50px;
  margin-top: 50px;
  position: absolute;
  }